* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;

}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    /*Colocando a imagem no fundo, no html ela fica em cima*/
    background-image: url('../images/img1.jpg');
    /*Vai fazer com que a imagem ocupe todo o monitor, se adaptando ao tamanho dele*/
    background-position: center;
    background-size: cover;
}

.column {
    flex-direction: column;
}

.banner-headline {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    margin: 100px 0px;


}

.banner-headline h1 {
    font-size: 70px;
    padding: 0;
    margin: 0;
    max-width: 350px;
}

.banner-headline h2 {
    font-size: 25px;
    padding: 0;
    margin: 30px 0px 0px 0px;
    max-width: 350px;
}

.banner-options {
    height: auto;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    color: #fff;
    padding: 20px;
    font-size: 15px;
    flex: 1;
}

.banner1 {

    background-color: #39aae1;

}

.banner2 {

    background-color: #0079c7;

}

.banner3 {

    background-color: #2b4c99;
}

.banner-title {
    font-size: 25px;
}

.banner-desc {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    border: 1px solid #fff;
    padding: 7px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.banner-horario {
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}

.geral {
    display: flex;
    justify-content: center;
}

.latest {
    flex: 2;
}

.departments {
    flex: 1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.widget-title-text {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.widget-title-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.primary {
    display: flex;
    flex-direction: column;
}

.primary-title {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.primary-title-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 3px;
    padding: 8px;
}

.primary-title-bar {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-right: 10px;
}

.primary-body {
    display: flex;
    align-items: center;
    width: 330px;
}

.primary-body img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.primary-body p {
    font-size: 15px;
    color: #555;
}

.primary-button {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
}

.primary-button a {
    color: #fff;
    border: 1px solid blue;
    background-color: blue;
    margin-left: 2px;
    padding: 5px;
    text-decoration: none;
}

.clinic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #42b3e5;
    font-size: 18px;
}

.clinic a img {
    width: 22px;
    height: 22px;
}

.consulta {
    padding-bottom: 30px;
    font-size: 15px;
    border-bottom: 1px solid #42b3e5;
}

.contact {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    border-bottom: 1px solid #42b3e5;
}

.contact img {
    width: 30px;
    height: 30px;
}

.telefone {
    padding-left: 10px;
}

.lastest-news {
    display: flex;
    flex-wrap: wrap;
}

.news {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 300px;
}

.heade-date {
    display: flex;
}

.news-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.date {
    color: #fff;
    background-color: #0079c7;
    border: 1px solid #0079c7;
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;

}

.numero-news {
    color: #fff;
    background-color: #42b3e5;
    border: #42b3e5;
    padding: 10px;
    margin-left: 2px;
    font-size: 12px;
}

.news-text-title {
    color: #000;
    font-size: 20px;
    margin-top: 25px;
}

.news-text-body {
    margin-top: 25px;
    color: #5c5c5c;
}

.description {
    color: #5c5c5c;
    margin-top: 20px;
    font-size: 10px;
    margin-bottom: 20px;
}

.news-text-bar {
    width: auto;
    height: 2px;
    background-color: #39aae1;
    margin-right: 10px;
    margin-bottom: 25px;
}

.prox {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.rodape-menu {
    display: flex;
}

.menu1,
.menu2,
.menu3 {
    flex: 1;
    justify-content: center;
    padding: 20px;
    color: #fff;
}

.menu1 {

    background-color: #39aae1;

}

.menu2 {

    background-color: #0079c7;

}

.menu3 {

    background-color: #2b4c99;
}

.menu-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.menu-text a {
    text-decoration: none;
    color: #fff;
}

.rodape {
    flex-direction: column;
}

.rodape-area {
    display: flex;
}

.rodape-body {
    flex: 1;
    margin-top: 20px;
}

.rodape-title1 {
    display: block;
}

.rodape-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-text {
    font-size: 20px;
    color: #fff;
}

.rodape-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.rodape-button a {
    color: #fff;
    text-decoration: none;
    border: 1px solid beige;
    font-size: 20px;
    padding: 5px;
}

.rodape-button {
    margin-right: 10px;
}

.rodape-copy {
    margin-top: 30px;
    border-top: 2px solid #2c2c2c;
    color: #5c5c5c;
    font-size: 12px;
    height: 40px;
}

.rodape-conteudo {
    margin-top: 20px;
    color: #727272;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.conteudo-text {
    align-items: center;
}

.contato {
    display: flex;
    justify-content: space-between;
}

.redes-sociais a img {
    width: 25px;
    height: 25px;
    margin: 4px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 0px;
    margin-right: 20px;
}

.mm-line {
    height: 4px;
    background-color: #0079c7;
}

@media (max-width:600px) {
    .banner-headline h1 {
        font-size: 55px;
        padding: 5px;
    }

    .banner-headline h2 {
        font-size: 21px;
        padding: 5px;
    }

    .banner-options {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .lastest-news {
        flex-direction: column;
    }

    .geral {
        padding: 10px;
    }

    .rodape-menu {
        flex-direction: column;
    }

    .rodape-area {
        flex-direction: column;
    }

    .rodape-title {
        padding: 10px;
    }

    .rodape-title1 {
        padding: 10px;
    }

    .rodape-copy {
        padding-left: 10px;
    }

}

@media (max-width:750px) {
    header {
        height: auto;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        background-color: #fff;
        width: 100%;
        left: 0;
        position: absolute;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}